snippet tests "Empty shell for python unit test"
import unittest

class ${1:FooTests}(unittest.TestCase):

    def ${2:testFoo}(self):
        self.assertEqual("returned_output" == "expected_output")

def main():
    unittest.main()

if __name__ == '__main__':
    main()
endsnippet
