snippet qtest "Scaffold for qunit ember test file"
App = undefind

module "${1:Module Description}"
  setup: ->
	App = startApp()
  teardown: ->
	Ember.run(App, "destroy")
	$.mockjaxClear()

test "${2:Test Description}", ->
  equal(1, 2)
endsnippet

snippet mock "Mockjax stub" !b
$.mockjax({type: ${1:"GET"}, url ${2:url}, status: ${3:200}, dataType: ${4:"json"}, responseText: ${5:responseJson}})
endsnippet
