snippet qtest "Scaffold for qunit ember test file"
App = undefind

snippet cl "console.log(...)" b
console.log($0)
endsnippet

snippet clx "console log block" b
console.log("<><><>")
console.log($0)
console.log("<><><>")
endsnippet
