snippet # "comment line"
<!-- $0 -->
endsnippet

snippet #_b "begin a comment"
<!--
endsnippet

snippet #_e "end a comment"
-->
endsnippet

snippet js_source "javascript source file"
<script src="$0"></script>
endsnippet

snippet css_source "link to css file"
<link rel="stylesheet" type="text/css" href="$0">
endsnippet
